.navbar,
.header {
  margin: auto;
  background: transparent;
  transition: all 0.7s ease-in-out;
  padding: 15px 5px;
  backdrop-filter: blur(1px);
  box-shadow: 0 5px 5px #962b07;
  z-index: 100;
  background-color: #d8b2a5;
}

.color-brown {
  background-color: #962b07 !important;
}

.header a {
  font-size: 0.8rem !important;
  font-weight: 600;
  text-align: center;
}

.navbar {
  font-family: Montserrat, Arial, sans-serif;
  font-weight: 800;
  font-size: 15px;
}

.header {
  display: flex;
  font-family: Montserrat, Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255 255 255 / 10%);
}

.colorWhite {
  color: #962b07 !important;
  font-weight: 800;
}

.colorWhite:hover {
  border-bottom: 1px solid #962b07 !important;
  background-color: rgb(240 236 231);
}

.brand {
  width: 100%;
  display: flex;
}

.nittLogo {
  max-height: 100px;
  margin: auto 0;
}

.NavElements {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.title {
  margin: auto;
  text-align: center;
  justify-content: center;
  display: flex;
}

.navLinks {
  color: #fff !important;
  padding-bottom: 5px;
}

.navLinks:hover {
  margin-bottom: -2px;
  border-bottom: 2px solid rgb(255 255 255 / 54.8%);
}

@media only screen and (max-width: 992px) {
  .brand {
    width: max-content;
    flex-direction: column;
    align-items: center;
  }

  .title {
    margin: 0;
  }

  .nittLogo {
    display: none;
  }
}
