.main-page {
  width: 100%;
}

.main-page > .carousel {
  height: 50vh;
}

.main-page .car-img {
  height: 50vh;
  width: 100%;
  object-fit: cover;
}

.main-page .content {
  font-size: 1rem;
  margin-top: 10px;
  text-align: justify;
  font-family: Montserrat, Arial, sans-serif;
}

.main-page .image {
  margin: 0;
}

.main-page .image-container {
  text-align: center;
}

.homepage-alt1 {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

.homepage-alt2 {
  display: flex;
  flex-flow: row-reverse wrap;
  align-items: center;
  justify-content: space-around;
}
