.newsBox {
  padding: 2rem 1rem;
  width: 100%;
  display: flex;
  column-count: 2;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem 2rem;
}

.newsBoxScroll {
  padding: 2rem 1rem;
  overflow-y: clip;
}

.newsBoxScroll > div {
  max-width: 40rem !important;
}

.newsBoxScroll > div > img {
  height: 200px;
  aspect-ratio: 1/1;
  overflow: clip;
}

.newsBoxScroll > div > div > p {
  height: 200px;
  overflow: clip;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .newsBoxScroll {
    flex-wrap: wrap;
  }
}
