.pageContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.sideBarContainer {
  width: 35%;
  height: 100%;
}

.contentContainer {
  width: 65%;
  height: 100%;
}

.dropDownContainer {
  display: none;
}

.title {
  text-align: center;
  display: none;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media only screen and (max-width: 992px) {
  .pageContainer {
    flex-direction: column;
  }

  .sideBarContainer {
    display: none;
  }

  .dropDownContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    width: 100%;
  }

  .contentContainer {
    width: 100%;
  }

  .title {
    display: block;
  }
}
