.site-footer .footer-col > a {
  color: #fff;
  text-decoration: none;
}

.site-footer .footer-col > a:hover {
  color: #00f;
  text-decoration: underline;
}

.bg-red {
  background-color: #011c38;
  color: #fff;
}

.site-footer .footer-col {
  padding: 20px;
}

.site-footer .footer-col h3 {
  color: #fff;
}
