.site-footer .footer-col > a {
  color: #fff;
  text-decoration: none;
}

.site-footer .footer-col > a:hover {
  color: #00f;
  text-decoration: underline;
}

#bg-dark {
  background-color: #962b07;
  color: #fff;
}

.site-footer .footer-col {
  padding: 10px;
  margin: 10px;
}

.site-footer .footer-col h3 {
  color: #fff;
}
