.cardCont {
  box-shadow: rgb(0 0 0 / 10%) 0 4px 12px;
}

.cardCont:hover {
  box-shadow: rgb(0 0 0 / 16%) 0 10px 36px 0, rgb(0 0 0 / 6%) 0 0 0 1px;
  transform: scale(1.02);
}

.cardCont:focus {
  box-shadow: rgb(0 0 0 / 16%) 0 10px 36px 0, rgb(0 0 0 / 6%) 0 0 0 1px;
  transform: scale(1.02);
}

.links {
  display: flex;
  gap: 1rem;
}
