.correspondance,
.springerLink {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.springerLink {
  align-self: center;
  width: min(50%, 300px);
}

.springerLink > a {
  text-decoration: none;
  color: rgb(30 87 172);
  cursor: pointer;
}

.springerLink > a:hover {
  color: rgb(32 78 148);
}

.authors {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

@media only screen and (max-width: 492px) {
  .springerLink {
    width: min(90%, 200px);
  }
}
